<div class="page">


  <div class="container">

    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="ligne1">
        <input id="nameProject" formControlName="name" type="text" class="form-control" placeholder="Nom du Projet" />
        <div
          *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched || myForm.get('name')?.invalid && myForm.get('name')?.dirty"
          class="error">
          Le nom du projet est requis.
        </div>
        <div class="form-group">
          <div class="ligne1">
            <label style="display:none;" class="genre-label " for="genre">Genre</label>
            <div class="form-control-container">
              <input type="text" placeholder="Genre" [matAutocomplete]="autoGenre" id="genre" class="form-control" />
              <mat-autocomplete #autoGenre="matAutocomplete" (optionSelected)="addGenre($event)">
                <mat-option *ngFor=" let genre of genresList" [value]="genre">
                  {{ genre }}
                </mat-option>
              </mat-autocomplete>
              <div class="selected-genres">
                <span *ngFor="let genre of selectedGenres">
                  {{ genre }}
                  <button type="button" (click)="removeGenre(genre)"><i class="gg-close"></i></button>
                </span>
              </div>
            </div>
          </div>
          <!--           selectedGenres.length === 0 && -->
          <!--           <div *ngIf="(myForm.get('genres')?.errors?.['required'] && 
        (myForm.get('genres')?.touched || myForm.get('genres')?.dirty)) || 
        (selectedGenres.length === 0 && 
        (myForm.get('genres')?.touched || myForm.get('genres')?.dirty))" class="error">
            Vous devez sélectionner au moins un genre.
          </div> -->

          <!--           <div *ngIf="myForm.get('genres')?.touched || myForm.get('genres')?.dirty">
            Vous devez sélectionner au moins un genre.
          </div> -->

          <div *ngIf="genres.length === 0 && modifGenre " class="error">
            Vous devez sélectionner au moins un genre.
          </div>



        </div>
      </div>

      <div class="ligne2">
        <div class="form-group">
          <label style="display: none;" class="" for="usedSkill">Compétence présente</label>
          <div class="form-control-container">
            <input type="text" placeholder="Compétence utilisée" [matAutocomplete]="autoSkill" id="usedSkill"
              class="form-control" />
            <mat-autocomplete #autoSkill="matAutocomplete" (optionSelected)="addUsedSkill($event)">
              <mat-option *ngFor="let skill of skillNamesList" [value]="skill">
                {{ skill }}
              </mat-option>
            </mat-autocomplete>
            <div class="selected-skills">
              <span *ngFor="let skill of selectedUsedSkills">
                {{ skill }}
                <button type="button" (click)="removeUsedSkill(skill)"><i class="gg-close"></i></button>
              </span>
            </div>
          </div>
          <div *ngIf="myForm.get('skillsPresent')?.invalid && myForm.get('skillsPresent')?.touched" class="error">
            La compétence est requise.
          </div>
          <div *ngIf="selectedUsedSkills.length === 0 && modifselectedUsedSkills" class="error">

            Au moins une compétence présente doit être ajoutée.
          </div>
        </div>
        <div class="form-group">
          <label style="display:none;" class="" for="requestedSkill">Compétence manquante</label>
          <div class="form-control-container">
            <input type="text" placeholder="Compétence manquante" [matAutocomplete]="autoSkillMissing"
              id="requestedSkill" class="form-control" />
            <mat-autocomplete #autoSkillMissing="matAutocomplete" (optionSelected)="addRequestedSkill($event)">
              <mat-option *ngFor="let skill of skillNamesList" [value]="skill">
                {{ skill }}
              </mat-option>
            </mat-autocomplete>
            <div class="selected-skills2">
              <span *ngFor="let skill of selectedRequestedSkills">
                {{ skill }}
                <button type="button" (click)="removeRequestedSkill(skill)"><i class="gg-close"></i></button>
              </span>
            </div>
          </div>
          <div *ngIf="myForm.get('skillsMissing')?.invalid && myForm.get('skillsMissing')?.touched" class="error">
            La compétence est requise.
          </div>
          <div *ngIf="selectedRequestedSkills.length === 0 && modifRequestedSkill" class="error">

            Au moins une compétence demandée doit être ajoutée.
          </div>

          <div *ngIf="checkSkillConflict()">Attention vous avez sélectionné des compétences présentes et manquantes dans
            votre projet</div>

          <div *ngFor="let skill of selectedUsedSkills" class="error">
            <div *ngIf="selectedRequestedSkills.includes(skill)" class="error">
              {{skill}}
            </div>
          </div>


          <!--          <div  *ngFor="let skill of myForm.get('skillsMissing')?.value">
             <div *ngIf="myForm.get('selectedUsedSkills')?.value?.includes('Guitare')" class="error">
              "{{skill}}"
            </div> 
          </div> -->




        </div>
      </div>

      <div class="form-group">
        <div class="center-textarea">
          <label for="description" class="description-label">Description :</label>
          <textarea id="description" formControlName="description" class="form-control"
            placeholder="Entrez la description de votre projet"></textarea>
        </div>
        <div *ngIf="myForm.get('description')?.invalid && myForm.get('description')?.touched" class="error">
          La description est requise.
        </div>
      </div>

      <div class="form-group">
        <div class="drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
          (drop)="onDropFile($event)" (click)="openFileInput()">
          <div class="drop-zone-text">
            Déposez vos fichiers ici <br>ou <br> Cliquez pour sélectionner des fichiers
            <div style="height: 70px; width: 100%; display: flex; justify-content: center; align-items: center;">
              <i class="gg-attachment"></i>
            </div>
          </div>
          <input id="fileInput" type="file" multiple (change)="handleFileChange($event)" style="display: none;" />
        </div>
        <div class="file-container">
          <div *ngFor="let file of selectedFiles">
            <div class="file-details" [ngClass]="{'preview': previewAudio == file}">
              <span class="file-icon" [ngClass]="'file-icon ' + getFileTypeIconClass(file.name)"></span>
              <span class="file-name">{{ file.name }}</span>
              <span class="file-size">{{ formatFileSize(file.size) }}</span>
              <button type="button" (click)="removeFile(file)"
                style="background-color: var(--light-bg); border-radius: 50%; width: 25px; height: 25px; border-color: transparent;">
                <i class="gg-trash" style="color: rgb(186, 2, 2); --ggs:0.9; margin-left: -5px; margin-top: 0px;"></i>
              </button>
            </div>

            <!-- file.size <= 10000000 -->
            <button *ngIf="file.size <= 1000048576 && previewAudio !== file && isAudioFile(file.name)" type="button"
              (click)="setAsMainAudio(file); uploadFile(file)">
              Définir comme piste d'écoute
            </button>

            <div *ngIf="file.size > 100048576" class="error">
              Le fichier fait plus de 10 Gigabytes.
            </div>

            <audio *ngIf="previewAudio == file" id="mp3Audio" controls [src]="mp3Url"></audio>
            <button *ngIf="previewAudio == file" type="button" class="btn-deset-main" (click)="setAsMainAudio(file)">
              Déselectionner
            </button>
            <br>
          </div>
        </div>
        <div *ngIf="selectedFiles.length === 0 && modifSelectedFile" class="error">
          Il faut mettre au moins un fichier audio.
        </div>
        <div *ngIf="(previewAudio === null || previewAudio === undefined) && modifPreviewAudio" class="error">
          Il faut définir une piste d'écoute.
        </div>

      </div>


      <div class="parentCouleur">
        <p class="couleur" for="color">Sélectionnez une couleur :</p>
      </div>
      <div class="parentCarre">
        <div class="carre orange" (click)="selectColor('orange')"></div>
        <div class="carre green" (click)="selectColor('green')"></div>
        <div class="carre purple" (click)="selectColor('purple')"></div>
        <div class="carre blue" (click)="selectColor('blue')"></div>
        <div class="carre red" (click)="selectColor('red')"></div>
        <div class="carre pink" (click)="selectColor('pink')"></div>
      </div>
      <input id="color" formControlName="color" type="hidden" />
      <div *ngIf="myForm.get('color')?.invalid && myForm.get('color')?.touched" class="error">
        La couleur est requise.
      </div>

      <div class="form-group button-group">
        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
          CREER LE PROJET
        </button>
      </div>

      <div *ngIf="errorMessage" class="message error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="message success-message">
        {{ successMessage }}
      </div>

    </form>
  </div>
</div>