<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input id="nameProject" formControlName="nameProject" type="text" class="form-control" placeholder="Nom du Projet">
      <div *ngIf="myForm.get('nameProject')?.invalid && myForm.get('nameProject')?.touched" class="error">
        Le nom du projet est requis.
      </div>
    </div>

    <div class="form-group">
      <label style="display:none" for="genre">Genre</label>
      <select id="genre" formControlName="genre" class="form-control">
        <option value="" disabled selected>Choisissez un genre</option>
        <option *ngFor="let genre of genresList" [value]="genre">{{ genre }}</option>
      </select>
      <div *ngIf="myForm.get('genre')?.invalid && myForm.get('genre')?.touched" class="error">
        Le genre est requis.
      </div>
    </div>

    <div class="form-group">
      <label style="display:none" for="usedSkill">Compétence utilisée</label>
      <select id="usedSkill" (change)="addUsedSkill($event)" class="form-control">
        <option value="" disabled selected>Ajoutez une compétence que vous avez utilisée dans votre projet.</option>
        <option *ngFor="let skill of skillNamesList" [value]="skill">{{ skill }}</option>
      </select>
      <div *ngIf="myForm.get('usedSkills')?.invalid && myForm.get('usedSkills')?.touched" class="error">
        La compétence est requise.
      </div>
      <ul>
        <li *ngFor="let skill of usedSkills.controls; let i = index">
          {{ skill.value }} <button type="button" (click)="removeUsedSkill(i)">x</button>
        </li>
      </ul>
    </div>

    <div class="form-group">
      <label style="display:none" for="requestedSkill">Compétence demandée</label>
      <select id="requestedSkill" (change)="addRequestedSkill($event)" class="form-control">
        <option value="" disabled selected>Choisissez une compétence</option>
        <option *ngFor="let skill of skillNamesList" [value]="skill">{{ skill }}</option>
      </select>
      <div *ngIf="myForm.get('requestedSkills')?.invalid && myForm.get('requestedSkills')?.touched" class="error">
        La compétence est requise.
      </div>
      <ul>
        <li *ngFor="let skill of requestedSkills.controls; let i = index">
          {{ skill.value }} <button type="button" (click)="removeRequestedSkill(i)">x</button>
        </li>
      </ul>
    </div>

    <div class="form-group">
      <label style="display: none;" for="description" class="description-label">Description</label>
      <div class="center-textarea">
        <textarea id="description" formControlName="description" class="form-control"
          placeholder="Entrez la description de votre projet"></textarea>
      </div>
      <div *ngIf="myForm.get('description')?.invalid && myForm.get('description')?.touched" class="error">
        La description est requise.
      </div>
    </div>

    <div class="form-group button-group">
      <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Enregistrer</button>
    </div>
  </form>
</div>
