.container {
  max-height: 75vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur iOS */
}



.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Ajouté pour centrer verticalement */
  height: 100%; /* Ajouté pour prendre toute la hauteur disponible */
  margin-bottom: 2vh;
}

.etiquette {
  display: block; /* Make sure the label is a block element */
  width: fit-content; /* Ensure the label takes the full width of its container */
 /*  text-align: center; */ /* Center the text inside the label */
 margin-right: 0.5vw;
 border: none;
}

#etiquetteGenre {
  margin-left: 5vw;
}

input[type="text"], #genre {
  width: 35vw; /* Largeur maximale des inputs */
  height: 50px; /* Hauteur des inputs */
  border-radius: 15px; /* Rayon des bords des inputs */
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--bg-inverse);
  text-align: left;
}

.ligne1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
  align-items: center;
}

/* center-textarea{
  max-width: 100%;
  display: flex;
  justify-content: center;

}  */


textarea#description {
  margin: 0 auto; /* Ajouté pour centrer horizontalement */
}



#description {
  width: 60vw; /* Largeur maximale des inputs */
  max-width: 100%;
  height: 33vh; /* Hauteur des inputs */
  border-radius: 15px; /* Rayon des bords des inputs */
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--bg-inverse);
  text-align: center; /* Centrer le texte du textarea */
}

.error {
  color: red;
  margin-top: 5px;
}

textarea::placeholder {
  text-align: center; /* Centrer le texte du placeholder */
}

button {
  display: block;
  margin:  auto; /* Centrer le bouton */
}

select {
  color: var(--light-placeholder); /* Couleur du texte des <select> */
}

#nameProject {
  color: var(--light-placeholder); /* Le texte de l'input 'nameProject' sera vert */
}

.genre-label, .description-label {

  text-align: center; /* Centrer le texte horizontalement */
  display: block; /* Assurez-vous que le label est un bloc */
  width:fit-content; /* Prendre toute la largeur disponible */
}

.parentCarre {
  display: flex;
  flex-direction: row; /* Corrected from 'line' to 'row' */
  justify-content: space-between;
}

.parentCarre > div:first-child {
  margin-left: 10vh;
}

.parentCarre > div:last-child {
  margin-right: 10vh;
}



.orange { background-color: var(--orange); }
.green { background-color: var(--green); }
.purple { background-color: var(--purple); }
.blue { background-color: var(--blue); }
.red { background-color: var(--red); }
.pink { background-color: var(--pink); }

.carre {
  border-radius: 10px;
  height: 5vh;
  width: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.carre:hover {
  border: 2px solid var(--bg-inverse);
}

.carre.selected {
  border: 2px solid var(--light-placeholder);
}

.parentCouleur{

display: flex;
justify-content: center;
align-items: center;

}


.couleur{
  width:fit-content;
display: flex;
justify-content: center;
align-items: center;

}

.form-control-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Pour permettre aux éléments de passer à la ligne suivante si nécessaire */
}

.selected-skills {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px; /* Espace entre les compétences sélectionnées et le select */
}

.selected-skills span {
  background-color: #f0f0f0; /* Couleur de fond pour la compétence sélectionnée */
  padding: 5px 10px;
  border-radius: 5px;
  border: var(--purple) solid;
  color: var(--purple);
  margin-right: 5px; /* Espace entre les compétences sélectionnées */
  display: flex;
  align-items: center;
}




.selected-skills button {
  background: none;
  border: none;
  color: var(--purple);
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}






.selected-skills2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px; /* Espace entre les compétences sélectionnées et le select */
}

.selected-skills2 span {
  background-color: #f0f0f0; /* Couleur de fond pour la compétence sélectionnée */
  padding: 5px 10px;
  border-radius: 5px;
  border: var(--red) solid;
  color: var(--red);
  margin-right: 5px; /* Espace entre les compétences sélectionnées */
  display: flex;
  align-items: center;
}




.selected-skills2 button {
  background: none;
  border: none;
  color: var(--purple);
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}


.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Ajouté pour centrer verticalement */
  height: 100%; /* Ajouté pour prendre toute la hauteur disponible */
}

.center-textarea {
  width: 100%; /* Ajouté pour prendre toute la largeur disponible */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-label, textarea#description {
  text-align: center;
}