.container {
    max-height: 75vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur iOS */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="number"], #genre, #description {
    width: 60vw; /* Largeur maximale des inputs */
    max-width: 100%;
    height: 50px; /* Hauteur des inputs */
    border-radius: 15px; /* Rayon des bords des inputs */
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--bg-inverse);
}

.error {
    color: red;
    margin-top: 5px;
}

#description {
    height: 40vh; /* Hauteur du textarea */
    text-align: center; /* Centrer le texte du textarea */
}

textarea::placeholder {
    text-align: center; /* Centrer le texte du placeholder */
}

button {
    display: block;
    margin: 0 auto; /* Centrer le bouton */
}

select {
    color: var(--light-placeholder); /* Couleur du texte des <select> */
}

#nameProject {
    color: var(--light-placeholder); /* Couleur du texte de l'input 'nameProject' */
}

#genre {
    color: var(--light-placeholder); /* Couleur du texte pour le select 'genre' */
}

.genre-label, .description-label {
    text-align: center; /* Centrer le texte horizontalement */
    display: block; /* Assurez-vous que le label est un bloc */
    width: 100%; /* Prendre toute la largeur disponible */
}

.parentCarre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

/* .parentCarre > div:first-child {
    margin-left: 10vh;
}

.parentCarre > div:last-child {
    margin-right: 10vh;
} */

.carre {
    border-radius: 10px;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    row-gap: 5vh;
}

.carre:hover {
    border: 2px solid white;
}

/* --orange: #f9b234;
--green: #3ecd5e;
--purple: #952aff;
--blue: #4c49ea;
--red: #e44002;
--pink: #cd3e94; */

.orange { background-color: var(--orange); }
.green { background-color: var(--green); }
.purple { background-color: var(--purple); }
.blue { background-color: var(--blue); }
.red { background-color: var(--red); } /* Correction de la couleur bleu marine */
.pink { background-color: var(--pink); }

.carre.selected {
    border: 2px solid white;
}
