<div class="container">
    <img [src]="user?.picture" alt="User's profile">
    <button class="edit-btn edit-picture" (click)="editPicture()">
        <i class="gg-image picture-gg"></i>
    </button>
    <h2 *ngIf="!isEditName">{{ user?.name }}</h2>
    <input *ngIf="isEditName && user" type="text" [(ngModel)]="user.name">
    <button *ngIf="!isEditName" class="edit-btn edit-name" (click)="editName()">
        <i class="gg-pen name-gg"></i>
    </button>
    <button *ngIf="isEditName" class="edit-btn edit-name valid-btn" (click)="validateName()">
        <i class="gg-check name-gg"></i>
    </button>
    <span *ngIf="!isEditEmail" class="mail">{{ user?.email }}</span>
    <input *ngIf="isEditEmail && user" type="text" class="mail" [(ngModel)]="user.email">
    <button *ngIf="!isEditEmail" class="edit-btn edit-mail" (click)="editEmail()">
        <i class="gg-pen mail-gg"></i>
    </button>
    <button *ngIf="isEditEmail" class="edit-btn edit-mail valid-btn" (click)="validateEmail()">
        <i class="gg-check mail-gg"></i>
    </button>
    <button class="change-password-btn" (click)="changePassword()">Modifier le mot de passe</button>
    <button class="deco-btn" (click)="signOut()">Se déconnecter</button>
    <button class="delete-btn" (click)="signOut()">Supprimer le compte <i class="gg-trash"></i></button>
</div>