<div class="page">
    <div class="container">
        <img [src]="user?.picture" alt="User's profile">
        <button class="edit-btn edit-picture" (click)="openChangePictureModal()">
            <i class="gg-image picture-gg"></i>
        </button>
        <h2 *ngIf="!isEditName">{{ user?.name }}</h2>
        <input *ngIf="isEditName && user" type="text" class="name-input" [(ngModel)]="nameInput"
            (keyup.enter)="validateName()">
        <button *ngIf="!isEditName" class="edit-btn edit-name" (click)="editName()">
            changer de nom <i class="gg-pen name-gg"></i>
        </button>
        <button *ngIf="isEditName" class="edit-btn edit-name valid-btn" (click)="validateName()">
            <i class="gg-check name-gg"></i>
        </button>
        <span *ngIf="!isEditEmail" class="mail">{{ user?.email }}</span>
        <input *ngIf="isEditEmail && user" type="text" class="mail-input" [(ngModel)]="mailInput"
            (keyup.enter)="validateEmail()">
        <button *ngIf="!isEditEmail" class="edit-btn edit-mail" (click)="editEmail()">
            changer d'adresse email <i class="gg-pen mail-gg"></i>
        </button>
        <button *ngIf="isEditEmail" class="edit-btn edit-mail valid-btn" (click)="validateEmail()">
            <i class="gg-check mail-gg"></i>
        </button>

        <a style="margin-top:-60px;" [routerLink]="['/my-projects']" routerLinkActive="router-link-active">
            <h1 style="color: var(--color-on-bg);"
                style="background-color: var(--glass); padding: 10px; border-radius: 10px">Mes projets</h1>
        </a>
        <br><br>

        <button class="change-password-btn" (click)="openChangePasswordModal()">Modifier le mot de passe</button>
        <button class="deco-btn" (click)="signOut()">Se déconnecter</button>
        <button class="delete-btn" (click)="openDeleteConfirmationModal()">Supprimer le compte <i
                class="gg-trash"></i></button>
    </div>

    <!-- Change Password Modal -->
    <div id="changePasswordModal" class="modal" [ngClass]="{'show': isChangePasswordModalOpen}">
        <div class="modal-content change-password">
            <br>
            <span class="close" (click)="closeChangePasswordModal()"><i class="gg-close"></i></span>
            <div style="display: flex; flex-direction: column; align-items: center; gap:10px;">
                <input type="password" [(ngModel)]="newPassword" placeholder="Nouveau mot de passe">
                <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirmer le nouveau mot de passe">
            </div>
            <br>
            <div style="display: flex; flex-direction: row; justify-content: space-around;">
                <button (click)="changePassword()"
                    style="border: 1px solid var(--lines); background-color: var(--light-bg); color: var(--light-color);">Valider</button>
            </div>
        </div>
    </div>

    <!-- Change Picture Modal -->
    <div id="changePictureModal" class="modal" [ngClass]="{'show': isChangePictureModalOpen}">
        <div class="modal-content change-picture">
            <br>
            <span class="close" (click)="closeChangePictureModal()"><i class="gg-close"></i></span>
            <div style="display: flex; flex-direction: column; align-items: center; gap:10px;">
                <input type="text" [(ngModel)]="newPicture" placeholder="Lien de la nouvelle image"
                    (input)="updatePreview()">
                <img *ngIf="newPicture" [src]="newPicture" alt="Preview" class="image-preview">
            </div>
            <div class="avatar__list">
                <button type="button" (click)="selectAvatar(avatar.url)" class="avatar__list__button"
                    *ngFor="let avatar of avatars">
                    <img class="avatar__list__image" [src]="avatar.url" alt="Avatar">
                </button>
            </div>
            <br>
            <div style="display: flex; flex-direction: row; justify-content: space-around;">
                <button (click)="changePicture()"
                    style="border: 1px solid var(--lines); background-color: var(--light-bg); color: var(--light-color);">Valider</button>
            </div>
        </div>
    </div>
    <div id="deleteConfirmationModal" class="modal" [ngClass]="{'show': isDeleteConfirmationModalOpen}">
        <div class="modal-content">
            <br>
            <span class="close" (click)="closeDeleteConfirmationModal()"><i class="gg-close"></i></span>
            <div style="display: flex; flex-direction: column; align-items: center; gap:10px;">
                <p>Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.</p>
            </div>
            <br>
            <div style="display: flex; flex-direction: row; justify-content: space-around;">
                <button (click)="confirmDeleteAccount()"
                    style="border: 1px solid var(--lines); background-color: var(--red); color: var(--light-color);">Supprimer</button>
                <button (click)="closeDeleteConfirmationModal()"
                    style="border: 1px solid var(--lines); background-color: var(--light-bg); color: var(--light-color);">Annuler</button>
            </div>
        </div>
    </div>
</div>