<main>
    <h1>Politique de Confidentialité</h1>
    <p>Dernière mise à jour : 19 Juin 2024</p>

    <p>Votre confidentialité est importante pour nous. Cette politique de confidentialité explique comment via
        GrooveGather
        (https://gg.olprog-a.fr) nous collectons, utilisons, divulguons et protégeons les informations personnelles que
        vous
        fournissez lorsque vous utilisez notre application.</p>

    <h2>1. Informations Collectées</h2>
    <p>Nous collectons les types d'informations suivants afin de fournir et améliorer notre service :</p>
    <h3>Informations que Vous Fournissez :</h3>
    <ul>
        <li><strong>Données d'authentification :</strong> Adresse e-mail, nom d'utilisateur, mot de passe.</li>
        <li><strong>Données de sauvegarde :</strong> Toutes les données que vous choisissez de sauvegarder dans
            l'application, telles que les préférences utilisateur et les paramètres de l'application.</li>
    </ul>

    <h3>Informations Collectées Automatiquement :</h3>
    <ul>
        <li><strong>Données de journal :</strong> Informations sur votre utilisation de l'application, y compris
            l'adresse
            IP, le type d'appareil, le système d'exploitation, les pages ou les écrans visualisés, et les dates et
            heures de
            visite.</li>
    </ul>

    <h2>2. Utilisation des Informations</h2>
    <p>Nous utilisons les informations que nous collectons pour les finalités suivantes :</p>
    <ul>
        <li><strong>Fournir et améliorer notre service :</strong> Utiliser les données d'authentification pour vous
            permettre
            d'accéder à votre compte et sauvegarder vos données.</li>
        <li><strong>Communication :</strong> Vous envoyer des notifications et des mises à jour concernant
            l'application.
        </li>
        <li><strong>Sécurité :</strong> Protéger votre compte contre toute activité non autorisée.</li>
    </ul>

    <h2>3. Partage des Informations</h2>
    <p>Nous ne partageons pas vos informations personnelles avec des tiers, sauf dans les cas suivants :</p>
    <ul>
        <li><strong>Avec votre consentement :</strong> Lorsque vous consentez explicitement au partage de vos
            informations.
        </li>
        <li><strong>Fournisseurs de services :</strong> Avec des fournisseurs tiers qui nous aident à exploiter notre
            application, dans la mesure où ces parties acceptent de traiter vos informations conformément à cette
            politique
            de confidentialité.</li>
        <li><strong>Obligations légales :</strong> Si nous sommes contraints par la loi ou en réponse à des demandes
            légales.
        </li>
    </ul>

    <h2>4. Sécurité des Informations</h2>
    <p>Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos informations contre l'accès non
        autorisé,
        l'altération, la divulgation ou la destruction. Cependant, aucune méthode de transmission sur Internet ou de
        stockage électronique n'est totalement sécurisée, et nous ne pouvons garantir une sécurité absolue.</p>

    <h2>5. Vos Droits</h2>
    <p>Vous avez le droit d'accéder à vos informations personnelles, de les rectifier, de les supprimer ou de
        restreindre
        leur traitement. Pour exercer ces droits, veuillez nous contacter à [adresse e-mail de contact].</p>

    <h2>6. Modifications de cette Politique de Confidentialité</h2>
    <p>Nous pouvons mettre à jour cette politique de confidentialité de temps en temps. Nous vous informerons de tout
        changement
        en
        publiant la nouvelle politique de confidentialité sur cette page. Nous vous encourageons à consulter
        périodiquement
        cette
        page pour rester informé de tout changement.</p>

    <h2>7. Contact</h2>
    <p>Si vous avez des questions concernant cette politique de confidentialité, veuillez nous contacter à :</p>
    <p>
        <a href="mailto:contact@ggteam.fr" style="color: var(--blue)">contact&#64;ggteam.fr</a>
    </p>
</main>