<div class="container">
    <main>
        <article><br><br>
            <h1>Bonnes pratiques <br><br>
                <p>
                    &heartsuit;</p><br>
            </h1>
            <section>
                <h2>Création d'un projet :</h2>
                <ul>
                    <li><strong>Nommez clairement vos fichiers :</strong> Donnez un titre explicite à chaque piste pour
                        faciliter leur identification.</li>

                    <li><strong>Indiquez vos compétences et besoins :</strong> Lors de la création d'un projet,
                        spécifiez les compétences que vous recherchez et celles que vous offrez. Cela facilitera la
                        recherche de collaborations appropriées.</li>
                    <li><strong>Incluez une description détaillée :</strong> Décrivez le projet et votre vision de
                        manière concise mais complète, en spécifiant toutes les informations utiles si besoin comme le
                        tempo, la tonalité, la signature rythmique, et d'autres informations pertinentes pour une bonne
                        collaboration.</li>
                    <li><strong>Utilisez les formats audio compatibles :</strong> Assurez-vous que les fichiers audio
                        que vous partagez sont au format MP3, WAV, ou FLAC pour une meilleure compatibilité avec
                        GrooveGather. <b style="font-weight: 600;"><i>Astuce: Le format FLAC a le meilleur ratio
                                qualité/taille</i></b></li>
                    <li><strong>Utilisez les formats partitions et tablatures compatibles :</strong> Assurez-vous que
                        les fichiers de
                        partitions soient compatibles avec les logiciels utilisés par les collaborateurs. Pour faciliter
                        la collaboration, voici quelques conseils :
                        <ul class="musicNotations">
                            <li>Utilisez des logiciels de notation musicale populaires comme Guitar Pro, MuseScore ou
                                TuxGuitar. <br> <br><b>Guitar Pro</b> permet les meilleurs rendus
                                audio
                                le
                                plus
                                intuitivement mais n'est pas gratuit.<br> <br><b>MuseScore </b>est une excellente option
                                complète,
                                gratuite et open-source. <br> <br><b>TuxGuitar</b> est une alternative gratuite pour
                                créer et
                                éditer
                                des tablatures, rapidement.</li>
                            <br>
                            <li>Exportez vos partitions et tablatures aux formats .gp, .tg, MusicXML, pdf ou audio.</li>
                            <br>
                            <li>Indiquez clairement les instruments, les parties vocales et autres éléments musicaux
                                dans vos partitions pour une meilleure compréhension par les autres musiciens.</li>
                        </ul>
                    </li>
                </ul>
            </section>

            <section>
                <h2 class="h2-begginer">Ressources utiles aux débutants:</h2>
                <ul class="links">
                    <li><a href="https://www.youtube.com/watch?v=Rco_7hHkBjw" target="_blank">Comprendre le rythme</a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=8Fm16iXqKME" target="_blank">Comprendre la tonalité en
                            5min</a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=8JzabG2qhYE" target="_blank">Introduction aux logiciels
                            de production musicale</a></li>
                    <li><a href="https://www.youtube.com/watch?v=zqMj5pzY0Wo" target="_blank">Choisir son DAW</a></li>
                </ul>
            </section>
        </article>
    </main>
</div>