<footer>
    <nav>
        <ul>
            <li [ngClass]="{'active' : currentPage == 'home'}" [routerLink]="['/']"
                routerLinkActive="router-link-active">
                <i class="gg-home"></i>
            </li>
            <li [ngClass]="{'active' : currentPage == 'search'}" [routerLink]="['/search']"
                routerLinkActive="router-link-active"><i class="gg-search"></i></li>
            <li [ngClass]="{'active' : currentPage == 'create'}" class="create-project"
                [routerLink]="['/create-project']" routerLinkActive="router-link-active">
                <i class="gg-add-r"></i>
            </li>
            <li [ngClass]="{'active' : currentPage == 'notif'}" [routerLink]="['/notification']"
                routerLinkActive="router-link-active"><i class="gg-bell"></i></li>
            <li [ngClass]="{'active' : currentPage == 'message'}" [routerLink]="['/messages']"
                routerLinkActive="router-link-active"><i class="gg-comment"></i></li>
        </ul>
    </nav>
</footer>