<footer>
    <nav>
        <ul>
            <li [routerLink]="['/']" routerLinkActive="router-link-active"><i class="gg-home"></i></li>
            <li [routerLink]="['/search']" routerLinkActive="router-link-active"><i class="gg-search"></i></li>
            <li class="create-project" [routerLink]="['/create-project']" routerLinkActive="router-link-active">
                <i class="gg-add-r"></i>
            </li>
            <li [routerLink]="['/notification']" routerLinkActive="router-link-active"><i class="gg-bell"></i></li>
            <li [routerLink]="['/messages']" routerLinkActive="router-link-active"><i class="gg-comment"></i></li>
        </ul>
    </nav>
</footer>