footer {
    position: fixed;
    bottom: 0;
    width: 98vw;
    margin-left: 1vw;
    border-top: 1px solid var(--lines);
    z-index: 10;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: var(--bg);
    color: var(--color);
}

li {
    list-style: none;
    cursor: pointer;
    font-size: xx-large;
}

.create-project {
    margin-bottom: 2vh;
}

@media (min-width: 1025px) {
    footer {
        border: none;
    }
}