footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: black;
    color: white;
}

li {
    list-style: none;
    cursor: pointer;
    font-size: xx-large;
}

.create-project {
    margin-bottom: 2vh;
}