.burger {
  cursor: pointer;
}

.burger svg {
  height: 44px;
  width: 44px;
  display: flex;
  position: relative;
}

svg,
path {
  position: fixed;
  z-index: 4;
}

.ham {
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--color);
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

/* Style initial de la div à afficher/cacher */
nav {
  top: 1.8vh;
  font-size: large;
  color: white;
  --pill-accent: var(--purple);
  background: color-mix(in srgb, var(--pill-accent) 80%, transparent);
  margin-top: 20px;
  border-radius: 8px;
  display: none;
  opacity: 0;
  transition: opacity 2s ease-in-out;

  li {
    height: 9.5vh;
    min-height: 60px;
    max-height: 200px;
    padding: 0 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a {
  color: var(--dark-color);
  font-weight: 700;

}

/* Lorsque le SVG a la classe active, change l'opacité de la div pour la rendre visible */
.burger .ham.active~nav {
  display: flex;
  position: absolute;
  height: fit-content;
  opacity: 1;
  transition: opacity 2s ease-in-out;

}

.burger .ham.active .line {
  stroke: var(--bg-inverse);
}

li:hover {

  background-color: var(--blue);
  color: var(--green);
}