<div id="search_page_container">
    <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm)">
        <ul class="active-filters">
            <app-search-bar [placeholder]="searchPlaceholder" class="search_bar"></app-search-bar>
            <li style="--pill-accent: var(--purple);">
                <p>Rock'n'Roll</p> <i class="gg-close"></i>
            </li>
            <li style="--pill-accent: var(--red);">
                <p>Guitare</p><i class="gg-close"></i>
            </li>
            <li style="--pill-accent: var(--green);">
                <p>Batterie</p><i class="gg-close"></i>

            </li>
            <input type="checkbox" id="more" name="view more active-filters"
                class="active-filters__more-checkbox" /><label class="active-filters__more-label"
                for="more"><span>Afficher filtres actifs
                    <svg width="18" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                        xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                        <g>
                            <path fill="var(--color)"
                                d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z">
                            </path>
                        </g>
                    </svg></span></label>
            <input type="checkbox" id="less" name="view more active-filters"
                class="active-filters__less-checkbox" /><label class="active-filters__less-label"
                for="more"><span>Masquer filtres actifs
                    <svg width="18" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                        xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                        <g>
                            <path fill="var(--color)" d="M7.7,94.4c1.6,1.6,4.2,1.6,5.8,0l51-51.1,51.1,51.1c1.6,1.6,4.2,1.6,5.8,0c1.6-1.6,1.6-4.2,0-5.8l-53.9-53.9
            c-0.8-0.8-1.8-1.2-2.9-1.2s-2.1,0.4-2.9,1.2L7.7,88.6C6,90.2,6,92.8,7.7,94.4z">
                            </path>
                        </g>
                    </svg>
                </span></label>
            <li>
                <p>filter</p>

            </li>

            <li>
                <p>filter</p>

            </li>
            <li>
                <p>filter</p>

            </li>
            <li>
                <p>filter</p>
            </li>
            <li>
                <p>filter</p>
            </li>
            <li>
                <p>filter</p>
            </li>
            <li>
                <p>filter</p>
            </li>
            <li>
                <p>filter</p>
            </li>
            <li>
                <p>filter</p>
            </li>
            <li>
                <p>filter</p>
            </li>
            <li>
                <p>filter</p>
            </li>
            <li>
                <p>filter</p>
            </li>
            <li>
                <p>filter</p>
            </li>
            <li>
                <p>filter</p>
            </li>
            <li>
                <p>filter</p>
            </li>
            <li>
                <p>filter</p>
            </li>
        </ul>
    </form>
    <span class="separation"></span>
    <div class="choose-filters">
        <div class="choose-filters-title">
            <h3>
                Filtrez les projets </h3>
            <br>
            <br>
        </div>
        <form id="filters" #filtersForm="ngForm" (ngSubmit)="onSelectFilters(filters)">
            <div class="filter-select"> Compétence déjà présente dans projet :
                <input type="text" style="--pill-accent: var(--green);">
            </div>
            <span class="separation"></span>
            <div class="filter-select"> Compétence manquante que vous pouvez proposer :
                <input type="text" style="--pill-accent: var(--red);">
            </div>
            <span class="separation"></span>
            <div class="filter-select"> Genre musical :
                <input type="text" style="--pill-accent: var(--purple);">
            </div>
        </form>
    </div>
    <span style="margin-top: 0;" class="separation">
    </span>


    <div *ngIf="projects.length > itemsPerPage" class="projects-pagination">
        <pagination-controls class="page-controls" (pageChange)="p = $event" previousLabel=""
            nextLabel=""></pagination-controls>
        <div style="display: flex; flex-direction: row; gap:0.3rem; align-items: center; justify-content: center;">
            Trier:
            <select name="sort" id="sort" [(ngModel)]="sortOption" (change)="toggleSort()">
                <option value="date">Date</option>
                <option value="popularity">Popularité</option>
            </select>
            <button class="sortBy" (click)="toggleSort()">
                <i class="gg-arrows-exchange-v sort-icon" [class.rotated]="isSortedAsc"></i>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Par page:
            <select name="itemsPerPage" id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="toggleSort()">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
                <option value=13>13</option>
                <option value=14>14</option>
                <option value=15>15</option>
                <option value=20>20</option>
                <option value=25>25</option>
                <option value=30>30</option>
                <option value=40>40</option>
                <option value=50>50</option>
                <option value=100>100</option>
            </select>
        </div>
        <br>
        <div class="projects-container" style="display: flex; flex-direction: column;">
            <app-project-card
                *ngFor="let project of projects | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; index as i"
                [project]="project" [i]="i" [class.bg-orange]="i % 6 === 0" [class.bg-green]="i % 6 === 1"
                [class.bg-red]="i % 6 === 2" [class.bg-purple]="i % 6 === 3" [class.bg-pink]="i % 6 === 4"
                [class.bg-blue]="i % 6 === 5"></app-project-card>
        </div>
        <div style="display: flex; flex-direction: row; gap:0.3rem; align-items: center; justify-content: center;">
            Trier:
            <select name="sort" id="sort" [(ngModel)]="sortOption" (change)="toggleSort()">
                <option value="date">Date</option>
                <option value="popularity">Popularité</option>
            </select>
            <button class="sortBy" (click)="toggleSort()">
                <i class="gg-arrows-exchange-v sort-icon" [class.rotated]="isSortedAsc"></i>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Par page:
            <select name="itemsPerPage" id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="toggleSort()">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
                <option value=13>13</option>
                <option value=14>14</option>
                <option value=15>15</option>
                <option value=20>20</option>
                <option value=25>25</option>
                <option value=30>30</option>
                <option value=40>40</option>
                <option value=50>50</option>
                <option value=100>100</option>
            </select>
        </div>
        <br>
        <pagination-controls class="page-controls" (pageChange)="p = $event" previousLabel=""
            nextLabel=""></pagination-controls>
    </div>

</div>