/* allow only scroll y on page-container for router outlet  */

/*      header + page-container + footer =    100vh     */
/*        15   +       75       +   10   =    100       */

.page-container {
    height: 75vh;
    background-color: var(--bg);
    color: var(--color);
    overflow: scroll;
    overflow-x: hidden;
    z-index: 2 !important;
}