div {
    background-color: var(--bg);
    color: var(--color);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    padding: 0 5vw;
    border-bottom: var(--lines) 1px solid;
}