header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg);
  background: color-mix(in srgb, var(--bg) 90%, var(--glass-darker));
  color: var(--color);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: var(--color);
  margin-top: 1.5vh;
  height: 10.5vh;
  width: 95vw;
  margin-left: 2.5vw;


  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);


  z-index: 5;
  position: relative;

}

h2 {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 20px;
}

.search-bar {
  display: none;
}

.app-menu {
  margin-top: 0.7vh;
  margin-left: 2vw;
  z-index: 3;
}

.app-profile-menu {
  margin-top: 0.7vh;
  margin-right: 7vw;
  transform: scale(1.6);
  z-index: 3;
}

@media (min-width: 1025px) {
  header {
    border: none;
  }

  .search-bar {
    display: flex;
  }

  .app-profile-menu {
    margin-right: 2vw;
  }
}

@media (max-height: 620px) {
  header {
    height: 15vh;
  }
}

@media (max-height: 430px) {
  header {
    height: 20vh;
  }
}