header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg);
  color: var(--color);
  height: 15vh;
  width: 98vw;
  margin-left: 1vw;
  border-bottom: 1px solid var(--lines);
}

h2 {
  display: flex;
  align-items: center;
  gap: 2rem;
}