.bg-bg {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--dark-bg);
}

.bg-landig {
    position: fixed;
    top: 15vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../../../assets/images/photos/pexels-ketut-subiyanto-4559959.jpg) center / cover no-repeat;
    height: 90vh;
}

.landing-page {
    position: relative;
    z-index: 2;
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-color);
    font-size: 1.3rem;
    font-weight: 700;
    max-width: 90vw;
    padding: 5vw;
    overflow: hidden;
    overflow-y: scroll;
    gap: 70px;
}

.overlay {
    width: 100%;
}

h1,
h2,
h3 {
    font-size: 2rem;
    font-weight: 1000;
    background: radial-gradient(circle, var(--orange), white);
    background-clip: text;
    color: transparent;
    animation: colorGradient 6s linear infinite;
    background-size: 200% 200%;
    margin-bottom: 40px;
}


p {
    font-size: 1.4rem;
    font-weight: 300;
    max-width: 95vw;
    padding: 2.5vw;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}


b {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 1000;
    background: radial-gradient(circle, var(--orange), var(--pink));
    background-clip: text;
    color: transparent;
    animation: colorGradient 4s linear infinite;
    background-size: 200% 200%;
}

.white-pink {
    font-size: 1.6rem;
    font-weight: 1000;
    background: radial-gradient(circle, white, var(--pink));
    background-clip: text;
    color: transparent;
    animation: colorGradient 6s linear infinite;
    background-size: 200% 300%;
}

@keyframes colorGradient {
    0% {
        background-position: 0% 100%;
    }

    25% {
        background-position: 25% 0%;
    }

    50% {
        background-position: 50% 50%;
    }

    75% {
        background-position: 75% 75%;
    }

    100% {
        background-position: 0% 100%;
    }
}



@media screen and (min-width: 768px) {
    p {
        font-size: 1.4em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.6em;
    }


    b {
        font-size: 2.3em;
    }

    .white-pink {
        font-size: 1.6em;
    }
}


.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 8vw;
    margin-top: 40px;
}

.btn,
.btn-secondary {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    width: 25vw;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background: var(--pink);
    color: var(--light-color);
}

.btn:hover {
    background: var(--blue);
}

.btn-secondary {
    background: hsl(270, 100%, 80%);
    color: var(--light-color);
}

.btn-secondary:hover {
    background: #c6afff;
}

.features-section,
.testimonials-section {
    margin-top: 40px;
}

.features-grid,
.testimonials-grid {
    display: flex;
    flex-direction: column;
    gap: 8vw;
    opacity: 0.75;
    padding: 20px;
}

.feature-item,
.testimonial-item {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
}

.feature-item {
    background-color: var(--blue);
}

.testimonial-item {
    background: #c6afff;
    color: var(--light-color);
}


@media (min-width: 950px) {

    .landing-page {
        transform: scale(1);
    }

    .features-grid,
    .testimonials-grid {
        flex-direction: row;
        justify-content: space-around;
    }

    .feature-item,
    .testimonial-item {
        width: 30%;
    }
}