<div class="page">
    <div class="container">
        <!-- Messages combinés -->
        <div *ngFor="let message of combinedMessages"
            [ngClass]="{'message': true, 'sent': message.isSent, 'received': !message.isSent}">
            <!-- Affichage de la réponse à un message -->
            <div *ngIf="message.replyToMessageContent" class="reply-quote">
                <h4>Réponse à:</h4>
                <blockquote>
                    <p>{{ message.replyToMessageContent }}</p>
                </blockquote>
            </div>
            <div class="message-header">
                <img *ngIf="message.isSent ? message.receiverPicture : message.senderPicture"
                    [src]="message.isSent ? message.receiverPicture : message.senderPicture" alt="Profile picture"
                    class="profile-picture">
                <strong>{{ message.isSent ? message.receiverName : message.senderName }}</strong>
            </div>
            <!-- Affichage du contenu du message -->
            <p>{{ message.content }}</p>
            <p><small>{{ message.isSent ? 'Envoyé' : 'Reçu' }} le {{ message.timestamp | date:'short' }}</small></p>
            <button *ngIf="!message.isSent" (click)="replyToMessage(message)">Répondre</button>
        </div>

        <!-- Bloc de citation pour la réponse -->
        <div *ngIf="replyingToMessage" class="reply-quote" style="width: fit-content; margin-left: 20vw;">
            <h4>Réponse à:</h4>
            <blockquote>
                <p>{{ replyingToMessage.content }}</p>
            </blockquote>
        </div>

        <!-- Formulaire pour envoyer un message -->
        <div class="send-message">
            <h3>Envoyer un nouveau message</h3>
            <form (ngSubmit)="sendMessage()">
                <label for="receiverName" style="display: none;">Nom du destinataire:</label>
                <input id="receiverName" placeholder="Nom du destinataire" [(ngModel)]="newMessage.receiverName"
                    name="receiverName" required>
                <br>
                <label style="display: none;" for="content">Contenu du message:</label>
                <textarea id="content" placeholder="Entrez votre message" [(ngModel)]="newMessage.content"
                    name="content" required></textarea>

                <button type="submit">Envoyer</button>
            </form>
        </div>
    </div>
</div>