<div class="groove-gather-container">
  <div class="header">
    <h1>GrooveGather</h1>
    <p>Créer, partager, collaborer !</p>
  </div>
  <div class="main-content">
    <img src="../../../assets/images/photos/Accueil.png" alt="image de fond">
    <!-- Contenu principal ici -->
  </div>
  <div class="bouttons">
    <button class="button-85" role="button">S'inscrire</button>
    <button class="button-85" role="button">Se connecter</button>
    <!-- Old buttons -->
    <!-- <button class="btn-signup">s'inscrire</button>
    <button class="btn-login">se connecter</button> -->
  </div>
</div>

