<main>
  <br>
  <h1>GrooveGather</h1>
  <h3>Créer, partager, collaborer !</h3>

  <img src="../../../assets/images/photos/Accueil.png" alt="image de fond">
  <!-- Contenu principal ici -->

  <div class="bouttons">
    <button [routerLink]="['/sign-in']" class="btn-signup">S'inscrire</button>
    <button [routerLink]="['/login']" class=" btn-login">Se connecter</button>
  </div>
  <footer>
    <a routerLink="/privacy-policy">Politique de confidentialité</a>
    <br><br><br>
    <br><br><br>
    <br><br><br>
  </footer>
</main>