.img-background{
  margin: 0px;
  padding : 0;
  width: 100%;
  height : 100%;
}

.groove-gather-container {
  /* Styles pour le conteneur principal */
  background-color: black;
}

.header {
  /* Styles pour l'en-tête */
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}

.header p {
  margin-bottom: 20px;
}

.main-content {
  /* Styles pour le contenu principal */
}
.main-content img {
  width: 100%;
}
.bouttons {
  /* Styles pour le pied de page */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-signup, .btn-login {
  /* Styles pour les boutons s'inscrire et se connecter */
  color: white;
  background-color: black;
  border-width: 7px;
  border-color: #e39d48;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin: 4% 10%;
  width: 110px;
  border-style: solid;


}


/*-----------------------------------------------------------------------------------*/

/* <!-- HTML !-->
<button class="button-85" role="button">Button 85</button> */

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 35%;
  margin: 5%;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
