<div ngif="project" class="ag-courses_item">
    <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
            {{project!.name}}
        </div>
        <div class="ag-courses-item_date-box">
            <h4>{{project!.genre}}</h4><br>
            <p>{{project!.description}}</p><br>

            Start:
            <span class="ag-courses-item_date">
                {{project!.date}}
            </span>
        </div>
    </a>
</div>
<!-- 
        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    UX/UI Web-Design&#160;+ Mobile Design
                </div>

                <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                        04.11.2022
                    </span>
                </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    Annual package "Product+UX/UI+Graph designer&#160;2022"
                </div>

                <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                        04.11.2022
                    </span>
                </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    Graphic Design
                </div>

                <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                        04.11.2022
                    </span>
                </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    Motion Design
                </div>

                <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                        30.11.2022
                    </span>
                </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    Front-end development&#160;+ jQuery&#160;+ CMS
                </div>
            </a>
        </div>


    </div>
</div> -->