.pj_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;


}


.pj-item_link {
    display: block;
    padding: 30px 20px;
    overflow: hidden;
    position: relative;
    background-color: var(--bg-inverse);
}

.pj-item_link:hover,
.pj-item_link:hover .pj-item_date {
    text-decoration: none;
    color: black;
}

.pj-item_link:hover .pj-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.pj-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: 1000;
    font-size: 70px;
    color: black;

    background: radial-gradient(circle, var(--red), var(--light-color));
    background-clip: text;
    color: transparent;
    animation: colorGradient 4s linear infinite;
    background-size: 250% 300%;
    filter: contrast(200%);

    position: relative;
}

@keyframes colorGradient {
    0% {
        background-position: 0% 100%;
    }

    25% {
        background-position: 25% 0%;
    }

    50% {
        background-position: 50% 50%;
    }

    75% {
        background-position: 75% 75%;
    }

    100% {
        background-position: 0% 100%;
    }
}

.pj-item-box {
    font-size: 18px;
    color: black;

    font-size: 18px;
    position: relative;
}

.pj-item_date {
    font-weight: bold;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.pj-item_bg {
    height: 128px;
    width: 128px;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.bg-orange {
    background-color: var(--orange);
    color: var(--orange);
}

.bg-green {
    background-color: var(--green);
    color: var(--green);
}

.bg-red {
    background-color: var(--red);
    color: var(--red);
}

.bg-purple {
    background-color: var(--purple);
    color: var(--purple);
}

.bg-pink {
    background-color: var(--pink);
    color: var(--pink);
}

.bg-blue {
    background-color: var(--blue);
    color: var(--blue);
}


.bg-orange+.pj-item_title {
    background: radial-gradient(circle, var(--purple), var(--light-color));
    background-clip: text;
    color: transparent;
    animation: colorGradient 4s linear infinite;
    background-size: 250% 300%;
    filter: contrast(200%);
}


.bg-green+.pj-item_title {
    background: radial-gradient(circle, var(--red), var(--light-color));
    background-clip: text;
    color: transparent;
    animation: colorGradient 4s linear infinite;
    background-size: 250% 300%;
    filter: contrast(200%);
}


.bg-red+.pj-item_title {
    background: radial-gradient(circle, var(--green), var(--light-color));
    background-clip: text;
    color: transparent;
    animation: colorGradient 4s linear infinite;
    background-size: 250% 300%;
    filter: contrast(200%);
}


.bg-purple+.pj-item_title {
    background: radial-gradient(circle, var(--light-color), var(--blue));
    background-clip: text;
    color: transparent;
    animation: colorGradient 4s linear infinite;
    background-size: 250% 300%;
    filter: contrast(200%);
}


.bg-pink+.pj-item_title {
    background: radial-gradient(circle, var(--light-color), var(--orange));
    background-clip: text;
    color: transparent;
    animation: colorGradient 4s linear infinite;
    background-size: 250% 300%;
    filter: contrast(200%);
}


.bg-blue+.pj-item_title {
    background: radial-gradient(circle, var(--light-color), var(--orange));
    background-clip: text;
    color: transparent;
    animation: colorGradient 4s linear infinite;
    background-size: 250% 300%;
    filter: contrast(200%);
}


@media only screen and (max-width: 979px) {
    .pj_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .pj-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .pj_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .pj-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .pj-item_link {
        padding: 22px 40px;
    }

    .pj-item-box {
        font-size: 16px;
    }
}