<div
  style="display: flex; flex-direction: column; align-items: center; justify-content: space-evenly; height:75vh; margin-top:-10vh;">
  <h1>GG's TEAM</h1>


  <div class="profile-container">
    <!-- GG's TEAM profils-->
    <div class="profile">
      <img class="profile-Rémi"
        src="../../../assets/images/photos/ProfilPics - GGSite - GG'sTeam - Rémi - 16-06-2024.png"
        alt="Photo de Rémi" />
      <h4><span class="profile-firstname">Rémi</span> <br />Labonne</h4>
    </div>
    <div class="profile">
      <img class="profile-Etienne"
        src="../../../assets/images/photos/ProfilPics - GGSite - GG'sTeam - Etienne - 16-06-2024.png"
        alt="Photo d'Étienne" />
      <h4><span class="profile-firstname">Etienne</span> <br />Pogoda</h4>
    </div>
    <div class="profile">
      <img class="profile-Boris"
        src="../../../assets/images/photos/ProfilPics - GGSite - GG'sTeam - Boris - 16-06-2024.png"
        alt="Photo de Boris" />
      <h4><span class="profile-firstname">Boris</span> <br />Hantz</h4>
    </div>
  </div>
</div>

<!-- <img
  class="background-img"
  src="/assets/images/photos/pexels-anna-pou-8133025.jpg"
  alt="Fond musical"
/> -->