<div class="page">
  <div
    style="display: flex; flex-direction: column; align-items: center; justify-content: center; height:75vh; margin-top:-20vh;">
    <h1>GG's TEAM</h1>
    <br>
    <div class="profile-container"
      style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap : 4vw">
      <!-- GG's TEAM profils-->
      <div
        style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap : 15px; background-color: var(--glass); padding: 10px; border-radius: 16px; border: 1px solid var(--color)">
        <h2 style="text-align: center; font-weight: 600;">Rémi Labonne</h2>
        <a href="https://github.com/stanislascomputerscience">Github <img
            style="height: 20px; width: 20px; border-radius: 50%;" src="../../../assets/images/icons/github.png"
            alt="linkedin"></a>
        <a href="https://www.linkedin.com/in/r%C3%A9mi-labonne-54375461/">Linkedin <img
            style="height: 20px; width: 20px; border-radius: 5px;" src="../../../assets/images/icons/linkedin.png"
            alt="linkedin"></a>
        <a href="https://stanislascomputerscience.github.io/Portfolio/">Portefolio</a>
      </div>
      <img src="../../../assets/images/photos/ggsTeam.png" class="largeImg"
        style="max-height: 20vw; height: 40vw; width: auto; border-radius: 80px; background-color: transparent;"
        alt="Photo de la gg's team" />
      <div
        style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap : 15px; background-color: var(--glass); padding: 10px; border-radius: 16px; border: 1px solid var(--color)">
        <h2 style="text-align: center; font-weight: 600;">Etienne Pogoda</h2>
        <a href="https://github.com/zlarb02">Github <img style="height: 20px; width: 20px; border-radius: 50%;"
            src="../../../assets/images/icons/github.png" alt="linkedin"></a>
        <a href="https://www.linkedin.com/in/etiennepogoda/">Linkedin <img
            style="max-height: 20px; max-width: 20px; border-radius: 5px;"
            src="../../../assets/images/icons/linkedin.png" alt="linkedin"></a>
        <a href="https://www.pogodev.com/">Portefolio</a>
      </div>
    </div>
    <img src="../../../assets/images/photos/ggsTeam.png" class="smallImg"
      style="position: fixed; top: 45vh; max-height: 15vh; height: 40vw; width: auto; border-radius: 80px; background-color: transparent; margin-top: 5vh;"
      alt="Photo de la gg's team" />
    <img src="../../../assets/images/photos/ggsTeamAtWorks.png"
      style="position: fixed; z-index: -1; right:0; bottom:10vh; height: 40vw; width: auto; background-color: transparent;"
      alt="Photo de la gg's team au travail" />
    <img src="../../../assets/images/photos/ggsTeamOriginal.png" class="originalTeamPic"
      style="position: fixed; z-index: -1; bottom:23vh; left:10vw; width: 30vw; height: auto; background-color: transparent;"
      alt="Photo de la gg's team au travail" />
    <p style="position: fixed; ; bottom:10vh; left: 5vw; width: 60vw; height: 12vh; overflow-y: scroll;">
      L'équipe originelle
      avec Boris,<br>
      qui a imaginé et designé ce prototype avec nous.</p>
  </div>
</div>