<div class="flex-center">
    <div class="login-container">
        <h2>Login</h2>
        <div *ngIf="!name">
            <div id="g_id_onload"
                data-client_id="674011661072-mvs1hadt0jgppkfv76b5tkeroohqtbij.apps.googleusercontent.com"
                data-context="signin" data-ux_mode="popup" data-itp_support="true"></div>
            <div class="g_id_signin google-login" data-type="standard" data-shape="pill" data-theme="outline"
                data-text="signin_with" data-size="large" data-logo_alignment="left"></div>
        </div>
        <br>
        <form>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required placeholder="Email">
            </div>
            <br>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Password">
            </div>
            <br>
            <div>
                <a href="#">Forgot password?</a>
                <br>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a [routerLink]="['/signup']">Sign Up</a></p>
    </div>
</div>