<div class="flex-center">
    <div class="login-container">
        <div *ngIf="!user!.name">
            <div id="g_id_onload"
                data-client_id="674011661072-mvs1hadt0jgppkfv76b5tkeroohqtbij.apps.googleusercontent.com"
                data-context="signin" data-ux_mode="popup" data-itp_support="true"></div>
            <div class="g_id_signin google-login" data-type="standard" data-shape="pill" data-theme="outline"
                data-text="signin_with" data-size="large" data-logo_alignment="left"></div>
        </div>
        <br>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" required placeholder="Email">
                <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
                    class="alert">
                    <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                    <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</div>
                </div>
            </div>
            <br>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" formControlName="password" required placeholder="Password">
                <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
                    class="alert">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
                    <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters
                        long.</div>
                </div>
            </div>
            <div>
                <a href="#">Mot de passe oublié ?</a>
                <br>
            </div>
            <button type="submit">Se connecter</button>
            <br>
        </form>
        <p>Pas encore de compte? <a [routerLink]="['/signup']">Créer un compte</a></p>
    </div>
</div>