<!-- <div class="Fond">
  <div class="wrapper" *ngIf="project">
    <h1>{{ project.name }}</h1>
    <p>Genre: {{ project.genre }}</p>
    <p>Date: {{ project.date }}</p>
    <p>Description: {{ project.description }}</p>
    <p>Likes: {{ project.likes }}</p>
  </div>
  <div class="comment-section"></div>
</div> -->

<!-- ------------------------------------------- -->

<div ngif="project" class="ag-courses_item">
  <a class="ag-courses-item_link">
    <div class="ag-courses-item_bg bg-orange"></div>

    <div class="ag-courses-item_title">
      {{ project!.name }}
    </div>
    <div class="ag-courses-item_date-box">
      <div
        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100% ">
        <span>{{project!.genres}}</span>
        <span class="ag-courses-item_date">
          {{project!.date}}
        </span>
      </div><br> <br>
      <u>description</u>: <p>{{project!.description}}</p><br> <br>
      likes: <span>{{project!.likes}}</span>

    </div>
  </a>
</div>