<div class="container">

  <div ngif="project" class="pj_item">
    <a class="pj-item_link">
      <div class="pj-item_bg bg-orange" [class.bg-orange]="project.color === 'orange'"
        [class.bg-green]="project.color === 'green'" [class.bg-red]="project.color === 'red'"
        [class.bg-purple]="project.color === 'purple'" [class.bg-pink]="project.color === 'pink'"
        [class.bg-blue]="project.color === 'blue'"></div>
      <div class="pj-item_bg2 bg-orange" [class.bg-orange]="project.color === 'orange'"
        [class.bg-green]="project.color === 'green'" [class.bg-red]="project.color === 'red'"
        [class.bg-purple]="project.color === 'purple'" [class.bg-pink]="project.color === 'pink'"
        [class.bg-blue]="project.color === 'blue'"></div>

      <div class="pj-item_title">
        {{ project.name }}
      </div>
      <div class="pj-item_box">
        <div class="genre-date">
          <span class="pj-item_genre">
            <span *ngFor="let genre of project?.genres">
              <button class="genre">{{genre}}</button>
            </span>
          </span>
          <span class=" pj-item_date">
            {{project.date}}
          </span>
        </div><br><br>
        <div class="description"><u>Description</u>: <p>{{project.description}}</p><br><br></div>
        <div class="pj-item_skills">
          <div class="pj-item-skills-present">
            <span style="font-weight: 400; font-size: 21px;">Déjà présent :</span>
            <div class="present">
              <span *ngFor="let skill of project?.skillsPresent">
                <button class=" btn-present">{{skill}}</button>
              </span>
            </div>
          </div>
          <div class="pj-item-skills-miss">

            <span style="font-weight: 400; font-size: 21px;">Manque :</span>
            <div class="miss">
              <span *ngFor="let skill of project?.skillsMissing">
                <button class=" btn-miss">{{skill}}</button>
              </span>
            </div><br> <br>
          </div>
        </div>
      </div>

      <div>
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 80vw">
          <div
            style="display: flex; flex-direction: row; align-items: center; justify-content: center;font-size: larger;">
            <span style="color: var(--light-color);">{{project.likes}}</span>
            <svg class="like-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M15.0501 7.04419C15.4673 5.79254 14.5357 4.5 13.2163 4.5C12.5921 4.5 12.0062 4.80147 11.6434 5.30944L8.47155 9.75H5.85748L5.10748 10.5V18L5.85748 18.75H16.8211L19.1247 14.1428C19.8088 12.7747 19.5406 11.1224 18.4591 10.0408C17.7926 9.37439 16.8888 9 15.9463 9H14.3981L15.0501 7.04419ZM9.60751 10.7404L12.864 6.1813C12.9453 6.06753 13.0765 6 13.2163 6C13.5118 6 13.7205 6.28951 13.627 6.56984L12.317 10.5H15.9463C16.491 10.5 17.0133 10.7164 17.3984 11.1015C18.0235 11.7265 18.1784 12.6814 17.7831 13.472L15.8941 17.25H9.60751V10.7404ZM8.10751 17.25H6.60748V11.25H8.10751V17.25Z"
                  fill="var(--light-color)"></path>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </a>
    <div *ngIf="fileURL"
      style="position: fixed; bottom: 55px; right: 20px; display: flex; justify-content: center; align-items: center;">
      <button *ngIf="!isListened"
        style="position: fixed; bottom: 95px; left: 20px; font-size: x-large; background-color: var(--edit-picture); color: var(--color-on-bg)"
        (click)="playAudio()" class="listen-btn">
        Ecouter
      </button>
      <button *ngIf="isListened"
        style="position: fixed; bottom: 95px; left: 20px; font-size: x-large; background-color: var(--edit-picture); color: var(--color-on-bg)"
        (click)="stopAudio()" class="listen-btn">
        Stop
      </button>
      <div *ngIf="fileURL" class="audio-container">
        <audio id="player" [src]="fileURL"></audio>
        <div class="custom-controls">
          <div style="display: flex; justify-content: center; align-items: center;">
            <button (click)="playAudio()">&#9654;</button>
            <button (click)="pauseAudio()">&#10074;&#10074;</button>
            <button (click)="stopAudio()">&#9724;</button>
          </div>
          <input type="range" (input)="changeVolume($event)" [value]="currentVolume" min="0" max="1" step="0.1"
            style="color: var(--edit-button)" class="volume-slider">
        </div>
      </div>
      <div *ngIf="isListened" style="margin-bottom: 20px; padding: 10px; height: fit-content;" (click)="toggleMute()">
        <i class="gg-volume volume-icon"></i> <i *ngIf="isMuted" class="volume-muted">/</i>
      </div>
    </div>
  </div>
  <div ngif="project" class="pj_comments">
    <a class="pj-item_link">
      <div class="pj-item_bg bg-orange" [class.bg-orange]="project.color === 'orange'"
        [class.bg-green]="project.color === 'green'" [class.bg-red]="project.color === 'red'"
        [class.bg-purple]="project.color === 'purple'" [class.bg-pink]="project.color === 'pink'"
        [class.bg-blue]="project.color === 'blue'"></div>
      <div class="pj-item_bg2 bg-orange" [class.bg-orange]="project.color === 'orange'"
        [class.bg-green]="project.color === 'green'" [class.bg-red]="project.color === 'red'"
        [class.bg-purple]="project.color === 'purple'" [class.bg-pink]="project.color === 'pink'"
        [class.bg-blue]="project.color === 'blue'"></div>

      <div class="pj-item_title">
        Commentaires :
      </div>
      <div class="pj-item_box">

      </div>
      <div>
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 80vw">
          <div
            style="display: flex; flex-direction: row; align-items: center; justify-content: center; font-size: large;">
            <span>{{project.likes}}</span>
            <svg class="like-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M15.0501 7.04419C15.4673 5.79254 14.5357 4.5 13.2163 4.5C12.5921 4.5 12.0062 4.80147 11.6434 5.30944L8.47155 9.75H5.85748L5.10748 10.5V18L5.85748 18.75H16.8211L19.1247 14.1428C19.8088 12.7747 19.5406 11.1224 18.4591 10.0408C17.7926 9.37439 16.8888 9 15.9463 9H14.3981L15.0501 7.04419ZM9.60751 10.7404L12.864 6.1813C12.9453 6.06753 13.0765 6 13.2163 6C13.5118 6 13.7205 6.28951 13.627 6.56984L12.317 10.5H15.9463C16.491 10.5 17.0133 10.7164 17.3984 11.1015C18.0235 11.7265 18.1784 12.6814 17.7831 13.472L15.8941 17.25H9.60751V10.7404ZM8.10751 17.25H6.60748V11.25H8.10751V17.25Z"
                  fill="var(--light-color)"></path>
              </g>
            </svg>
          </div>
        </div>
      </div>

    </a>
  </div>
</div>