.dropdown-profile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

#toggle-menu {
  display: none;
  /* Cache la checkbox */
}

.dropdown-profile-menu label {
  cursor: pointer;
  border: none;
  padding: 1px 6px;
  z-index: 4;
}

.dropdown-profile-menu .dropdown {
  display: none;
  list-style: none;
  top: 2vh;
  /* Assure le positionnement correct par rapport au parent */
  width: fit-content;
  /* Pour que le menu ait la même largeur que le parent */
  padding: 0;
  position: absolute;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;

  border-radius: 0 0 5px 5px;
}

.dropdown-profile-menu .dropdown li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  width: 14vw;
  cursor: pointer;
  transition: opacity .5s, transform .5s, background .3s, color .3s;
  color: var(--dark-bg);
  --pill-accent: var(--bg-inverse);
  background: color-mix(in srgb, var(--pill-accent) 90%, transparent);
  filter: contrast(130%);
  text-align: center;
  height: 4vh;
  min-height: 40px;
  max-height: 70px;
  max-width: 100px;
  border: var(--dark-bg) 1px solid;
  font-weight: 400;
}

.dropdown-profile-menu .dropdown li:hover {
  background-color: var(--purple);
  color: white;
}

#toggle-menu:checked+label {
  background-color: var(--purple);
}

/* Affiche le menu déroulant et anime les éléments lorsqu'on coche la checkbox */
#toggle-menu:checked~.dropdown {
  display: block;
}

#toggle-menu:checked~.dropdown li {
  display: flex;
  animation: showMenu .5s forwards;
}

#toggle-menu:checked~.dropdown a>li:nth-child(1) {
  border-radius: 5px 5px 5px 5px;
}

#toggle-menu:checked~.dropdown li:last-child {
  border-radius: 5px 5px 5px 5px;
}

#toggle-menu:checked~.dropdown a>li:nth-child(2) {
  animation-delay: .2s;
}

#toggle-menu:checked~.dropdown a>li:nth-child(3) {
  animation-delay: .4s;
}

#toggle-menu:checked~.dropdown a>li:nth-child(4) {
  animation-delay: .6s;
}

#toggle-menu:checked~.dropdown a>li:nth-child(5) {
  animation-delay: .8s;
}

/* 
@keyframes showMenu {
  from {
    opacity: 1;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */