<nav class="dropdown-profile-menu">
  <input type="checkbox" id="toggle-menu" />
  <label for="toggle-menu" *ngIf="!user.name"><i class="gg-profile"></i></label>
  <ul class="dropdown" *ngIf="!user.name">
    <li style="padding-top: 2vh;;">Se connecter</li>
    <li>S'inscrire</li>
    <li><app-theme-toggle></app-theme-toggle></li>
  </ul>
  <label for="toggle-menu" *ngIf="user.name"><img [src]="user.picture"
      style="border-radius: 50px; font-size: smaller; height: 30px;" alt="google profile"></label>
  <ul class="dropdown" *ngIf="user.name">
    <li style="padding-top: 2vh;;">Mon profil</li>
    <li>Mes projets</li>
    <li>Paramètres</li>
    <li (click)="signOut()">Se deconnecter</li>
  </ul>
</nav>