.dropdown-profile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

#toggle-menu {
  display: none;
  /* Cache la checkbox */
}

.dropdown-profile-menu label {
  cursor: pointer;
  border: none;
  padding: 1px 6px;
  z-index: 4 !important;
}

.dropdown-profile-menu .dropdown {
  display: none;
  list-style: none;
  top: 2vh;
  /* Assure le positionnement correct par rapport au parent */
  width: fit-content;
  /* Pour que le menu ait la même largeur que le parent */
  padding: 0;
  position: absolute;
}

.dropdown-profile-menu .dropdown li {
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  transition: opacity .5s, transform .5s, background .3s, color .3s;
  background-color: var(--orange);
  text-align: center;
  font-size: x-small;
  height: 8vh;
  color: black;
}

.dropdown-profile-menu .dropdown li:hover {
  background: #F5F3FA;
  color: var(--purple);
}

#toggle-menu:checked+label {
  background-color: var(--orange);
  color: black;
}

/* Affiche le menu déroulant et anime les éléments lorsqu'on coche la checkbox */
#toggle-menu:checked~.dropdown {
  display: block;
}

#toggle-menu:checked~.dropdown li {
  display: flex;
  animation: showMenu .5s forwards;

  position: relative;
  z-index: 3 !important;
}

#toggle-menu:checked~.dropdown li:first-child {
  border-radius: 5px 5px 0 0;
}

#toggle-menu:checked~.dropdown li:last-child {
  border-radius: 0 0 5px 5px;
}

#toggle-menu:checked~.dropdown li:nth-child(2) {
  animation-delay: .2s;
}

#toggle-menu:checked~.dropdown li:nth-child(3) {
  animation-delay: .4s;
}

#toggle-menu:checked~.dropdown li:nth-child(4) {
  animation-delay: .6s;
}

#toggle-menu:checked~.dropdown li:nth-child(5) {
  animation-delay: .8s;
}

@keyframes showMenu {
  from {
    opacity: 1;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}